<legend>Detalhes</legend>

<p id="notice" class="alert alert-info"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Title:</th>
          <td><%= @list.title %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @list.description %></td>
        </tr>
        <tr>
          <th>Purchase:</th>
          <td><%= @list.purchase ? 'Comprada' : 'Não comprada' %></td>
        </tr>
        <tr>
          <th>Produtos:</th>
          <td><%= link_to 'Gerenciar', list_products_path(@list)  %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Editar', edit_list_path(@list), :class => 'btn btn-primary' %>
<%= link_to 'Voltar', lists_path, :class => 'btn btn-danger'  %>
