<legend>Detalhes</legend>


<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Nome:</th>
          <td><%= @product.name %></td>
        </tr>

        <tr>
          <th>Quantidade:</th>
          <td><%= @product.quantity %></td>
        </tr>

        <tr>
          <th>Descrição:</th>
          <td><%= @product.description %></td>
        </tr>

        <tr>
          <th>List:</th>
          <td><%= @product.list.title %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Editar', edit_list_product_path(@list,@product), :class => 'btn btn-primary' %>
<%= link_to 'Voltar', list_products_path, :class => 'btn btn-danger'  %>
